*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #080808;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
}
.cabeza {
width: 90%;
margin: auto;
}
.seleccionado {

    text-decoration: underline;
    
}
.seleccionado:hover {

    text-decoration: none;
    
}
.logo{
    display: flex; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo img {
    max-width: 150px;
    max-height: 150px;  
    margin-right: 90px;
}
.nav-menu{

    position: relative;
    display: flex; 
    text-decoration: none;
    list-style:none;
    justify-content: space-between;
}
.menu{
    align-self: center;
}
.menu a {
    text-decoration: none;
color: aliceblue;
border: 2px solid transparent;
font-size: 30px;
padding-left: 0px;
margin-right: 70px;
font-weight: bold;
}
.menu a:hover{

    border: 2px solid white;
  
}



.menuSocial {
    width: 100%;
    align-self: center;
    text-align: right;
    }
.menuSocial a:hover{
    text-decoration: underline;
    font-size: 20px;
}
.menuSocial a {
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;

    }



.nav-social{
    list-style:none;
    align-self: flex-end;
   

   
}
.nav-social a {
    margin: 5px;
    list-style:none;
    display: unset;
    line-height: 3ex;

   
}

/*////////////////////////////////////////////////NEWS//////////////////////////////////// */
hr{
    width: 90%;
    margin: auto;
    box-shadow: #909090 0px -46px 124px 9px ;
    
    border-color: aliceblue;
    background: aliceblue;
    border-style: solid;
    border-width: 0.5px;
    
}
.news img{
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}
.newFirst{
width: 100%;

}

.newIm1 img{
   
    width: 90%;   
    
 
 
 }

.newIm1 img:hover{
   
   width:  91%;   
    content: url("ima/IMG_Dest_Text.jpg");
border: 3px solid white;

}
.newIm2 img:hover{
    max-width: 92%;
    max-height: 92%;   
    content: url("ima/IMG_Dest2_Text.jpg");
    transition: .5s;
}
.newIm3 img:hover{
    max-width: 92%;
    max-height: 92%;   
    content: url("ima/IMG_Dest3_Text.jpg");
    transition: .5s;
}
.news h2{
color: aliceblue;
margin-top: 40px;
margin-bottom: 10px;
margin-left: 10%;
}
.news p{
    color: aliceblue;
    font-size: 18;
    margin-left: 10%;
    }

.info{
    display: flex;
    max-width: 90%;
    margin-bottom: 30;
}
.info img{
    max-width: 60px;
    max-height: 60px;
    margin: 5px;

}
.icoIm1{
    display: flex;
    margin-top: 50px;
    margin-right: 0%;
}
.infoTex{
    
    margin-right: 20%;
}



/*////////////////////////////////////////////////footer//////////////////////////////////// */
footer{
    box-shadow: #686868 -5px 0px 40px 10px;
    background-color: rgb(29, 29, 29);
 

}
.menuFot{

    display: flex;
    justify-content: center;
    
}
.menuFot a{
    color: aliceblue;
text-decoration: none;
font-size: 18px;

}
.menuFot a:hover{
    text-decoration: underline;
    font-size: 20px;
}
.menuFot1{
    list-style: none;
    text-align: right;
    margin: 50px;
}
.menuFot2{
    list-style: none;
    text-align: left;
    margin: 50px;
}  
/*////////////////////////////////////////////////CV//////////////////////////////////// */
.base{
    color:aliceblue;
    display: block;
    place-content: center;
    font-size: 25px;
    line-height: 3ex;
}

.habilidadesCont h2{
    justify-content: center;
    display: flex;
    margin: 30px;
}


   
.skills img{
max-width: 100px;

margin-left: 35%;
margin-bottom: 10;

}
@media (max-width: 1025px) {
    .skills img{
        margin-bottom: 30px;
       
     }
   }

.skills{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   
}
@media (max-width: 1025px) {
    .skills{
        display: grid;
        justify-content: center;
        margin-bottom: 50px;
        font-size: 20px;
        padding-bottom: 50px;
        width: 100%;
     }
   }


.skills li{
    margin-left: 40px;
    margin-right: 40px;
    width: 350px;
}
@media (max-width: 1025px) {
    .skills li{
        margin-left: null;
        margin-right: 0px;
        width: 100%;
    }
   }

.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
 }
 @media  (max-width: 1025px) {
    .Tit li{
        font-size: 20px;
        width: 90%;
        padding-left: 80;
        padding-top: 40px;
        padding-bottom: 40px;
     }
       }

 .Tit h2{
    justify-content: center;
    display: flex;
    margin: 30px;
}
.experiencia{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
 }
 .contExp{
    display: flex;
    justify-content: center;
   
 }



.contExp li{
     
        display:  flex;
    }
    
 .exp h2{
    justify-content: center;
    display: flex;
    margin: 30px;
    
 }

@media  (max-width: 1025px) {
    .exp li{
   
       padding-top: 40px;
       padding-bottom: 40px;
  
        display: block !important;
     }
       }
     
    
.exp img{
width: 500;
margin-left: 800px;
margin-top: 30px;
}
@media  (max-width: 1025px) {
    .exp img{
    
        margin-left: 80px;
      
     }
       }


.iconos{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    list-style: none;

    
 }
 .blender{
     display: grid;
     justify-items: center;
    font-size: 15;
    margin-bottom: 50px;
 }
 @media (max-width: 1025px) {
 .blender p{
 display: none;
 max-width: 30px;
}
}

 .iconos img{
     max-width: 100px;
     margin: 5px;
 }
 @media (max-width: 1025px) {
    .iconos img{
   
    max-width: 80px;
   }
   }
 .iconCont h2{
    justify-content: center;
    display: flex;
    margin: 30px;
}

/*////////////////////////////////////////////////PF//////////////////////////////////// */

.zonaImg{
display: block;
text-align: -webkit-center;
margin-bottom: 60px;
}
.zonaImg img{
    width: 300px;
   
    }
.zonaImg img:hover{
    border: 3px solid white;
}
.buscar{
    display: flex;
    justify-content: center;
    margin: 20px;
}
    .buscar h2{
        color: aliceblue;
        margin-right: 10px;
    }

.render{
    display: block;
    text-align: -webkit-center;
}
.render img{
    width: 1080px;
}
.render iframe {

    display: block;
    text-align: -webkit-center;
    
}
